
body {

  background-color: lightgreen;
}



header {
 border: none;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: black;
 

}



li a {
  display: block;
  width: 60px;

}


nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

  section img p {
    font-size: smaller;
    font-style: bold;
  }

 



  section h3 {
    display: flex;
    text-indent: 60px;
  }

  section h3 {
    font-size: 25px;
    text-indent: 75px;

  }


  header h1 {
    border-style: solid;
    border-width: thick;

  }
section h4 {
  display: flex;
  justify-content: center;
}

section ul {
  
  
  
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
}

h4 {
  font-size: 24px;
  
}
